body {
    font-size: 25px;
        font-family: 'Roboto', sans-serif;
    overflow: hidden;
    font-weight: 700;
    background: url(../images/wood.jpg);
    background-size: cover;
}

.menu-game-list {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 150px;
}



.menu-game-item-li {
    list-style: none;
    text-align: center;
}

.menu-game-item {
    cursor: pointer;
}



.menu-game-item {
    background: linear-gradient(to top right,#966F33, #ff69b4);
    line-height: 2;
    padding: 5px;
    color: white;
    border-radius: 15px;
}
